<mat-drawer-container class="container" hasBackdrop="true" autosize>
  <mat-drawer #drawer class="sidenav" mode="push">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>
  <div class="sidenav-content">
    <div class="content">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button type="button" fxShow.sm="true" fxShow="false" mat-button (click)="drawer.toggle()">
            <mat-icon class="icon">menu</mat-icon>
          </button>
          <span>Diana's Shop</span>
          <span class="spacer"></span>
          <mat-icon class="icon">favorite</mat-icon>
          <mat-icon class="icon">delete</mat-icon>
          <mat-icon class="icon" [matMenuTriggerFor]="appMenu">expand_more</mat-icon>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Settings</button>
            <button mat-menu-item>Help</button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="sidenav-menu">
        <ul>
          <li><a routerLink="/dashboard"><mat-icon class="icon">pie_chart</mat-icon> Dashboard</a></li>
          <li><a routerLink="/products"><mat-icon class="icon">favorite</mat-icon> Products</a></li>
          <li><a href="#"><mat-icon class="icon">attach_money</mat-icon> Sales</a></li>
          <li><a href="#"><mat-icon class="icon">people</mat-icon> Users</a></li>
          <li><a href="#"><mat-icon class="icon">shopping_cart</mat-icon> Delivers</a></li>
          <li><a href="#"><mat-icon class="icon">supervisor_account</mat-icon> Suppliers</a></li>
        </ul>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</mat-drawer-container>
