<div class="limiter">
  <div class="container-login100">
    <div class="login100-more" style="background-image: url('assets/images/bg-01.jpg');"></div>

    <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
      <h2 class="text-center">Sign In</h2>
      <br>
      <hr>
      <mat-divider></mat-divider>
      <p>
       <mat-form-field appearance="outline">
         <mat-label>Email</mat-label>
         <input matInput placeholder="">
       </mat-form-field>
      </p>
      <p>
       <mat-form-field appearance="outline">
         <mat-label>Password</mat-label>
         <input type="password" matInput placeholder="">
       </mat-form-field>
      </p>
      <button mat-raised-button color="primary">Log In</button>
    </div>
  </div>
</div>
