mat-card{
  background: #fff;
  .gradiant-box{
      padding: 15px 5px;
      background: #991d72;  /* fallback for old browsers */
      color: #fff;

      .text-muted{
        color: rgb(222, 222, 222);
      }

      div[class*="col-"]{
        border-left: 1px solid #ccc;

        &:first-child{
          border: 0 !important
        }
        p{
          line-height: 1.8em;
          color: #fff;
          display: flex;
          align-items: center;
          white-space: nowrap;
          i{
            margin-right: 7px;
          }
          .outline-indicator{
            padding: 4px 7px;
            border-radius: 22px;
            font-size: .9em;
            display: block;
            width: 100%;
          }
          .green-indicator{
            border: 1px solid #00bf67;
            color: #00bf67;
          }
          .red-indicator{
            border: 1px solid #ff4862;
            color: #ff4862;
          }
        }
        h2{
          color: #fff;
        }
      }
    }
}
